* {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: serif;
	color: #4d4d4d;
}

body {
	background: #f5f5f5;
	margin: 50px;
}

h1 {
	text-align: center;
	padding: 5px 0;
	color: #e67373;
	font-size: 40px;
}

ul li {
	list-style: none;
}

ul li button {
	float: right;
	margin: 0 5px;
}

ul li input {
	color: #c6c3c3;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	color: green;
	text-decoration: none;
	margin-right: 10px;
	vertical-align: middle;
}

.container {
	background: #ffffff;
	border: 1px solid #e6e6e6;
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	width: 550px;
	height: 400px;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background : rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background : rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.container form {
	border-bottom: 1px solid #e6e6e6;
	padding: 20px 20px 50px 20px;
	display: block;
}

.container form input {
	float: left;
}

#todo {
	border: 1px solid #e6e6e6;
	padding: 5px 10px;
	margin-right: 10px;
}
		
.add {
	border: none;
	background: none;
	background-image: url('../images/add-icon.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 30px;
	height: 30px;
}

#todo-list li {
	border-bottom: 1px solid #e6e6e6;
	padding: 10px;
	line-height: 30px;
}

.edit {
	border: none;
	background: none;
	background-image: url('../images/edit-icon.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 25px;
	height: 25px;
}

.delete {
	border: none;
	background: none;
	background-image: url('../images/delete-icon.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 25px;
	height: 25px;
}

.completed {
	color: #c6c3c3;
	text-decoration: line-through;
}